<ion-content>
  <!-- <div class="topFadedLogo"> </div> -->
  <form [formGroup]="activateForm">
    <ion-grid style="padding-top:75px;" class="card">
      <ion-row>
        <ion-col text-center>
          <div class="ion-text-center header-title">ACTIVATE</div>
          <p class="t_center">Kindly enter activation code sent to your email</p>
        </ion-col>

        <ion-col size="12">
          <ion-row>
            <ion-col size="12" class="colForm">
              <ion-label color="dark" position="floating">Activation Code</ion-label>
              <ion-input class="qouteForm" formControlName="token" type="text" placeholder="Enter your Activation Code"
                clear-input="true">
              </ion-input>
            </ion-col>
            <div *ngIf="!activateForm.controls.token.valid && activateForm.controls.token.dirty">
              <p style="color:#330501!important;text-align:center;">Please enter a VALID Activation Code</p>
            </div>
          </ion-row>
          <ion-row>
            <ion-col col-12 class="t_right">
              <p *ngIf="showResend" class="t_center">
                If you don’t receive the code? Resend in <b>{{ countdown }}</b> seconds it
              </p>
              <ion-button [disabled]="!time" fill="clear"  color="warning" class="timer-link" (click)="resendActivationLink()">
                Didn’t get activation link? Request
              </ion-button> 
            </ion-col>
          </ion-row>
          <br>

          <ion-row>
            <ion-col size="12" style="padding: 0px;">
              <div style="padding-top: 10px;">
                <ion-button expand="block" color="primary" (click)="activateUser()" [disabled]="!activateForm.valid">
                  Activate
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 class="t_center" style="margin-top:50px;">
          <p class="font-14">Already have an Account?</p>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col col-12 class="t_center">
          <a style="font-size: 18px; font-family: 'RedHatDisplayBold'; color: #CB982F !important;"
            [routerLink]="['/sign-in']">Sign In Here</a>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="isloadingSettings">
        <ion-note color="primary">{{loadingText}}</ion-note>
        <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>