 <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="/assets/vectors/icons/menu/Home.svg"></ion-icon>
      <ion-label class="tab-title">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <!-- <ion-icon name="cat-menu-outline"></ion-icon> -->
      <ion-icon src="/assets/vectors/icons/menu/Category.svg"></ion-icon>
      <ion-label class="tab-title">Categories</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon src="/assets/vectors/icons/menu/Profile.svg"></ion-icon>
      <ion-label class="tab-title">Account</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="help">
      <!-- <ion-icon name="help-outline"></ion-icon> -->
      <ion-icon src="/assets/vectors/icons/menu/Help.svg"></ion-icon>
      <ion-label class="tab-title">Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
