ion-content {
 --background: #FFF;
}


ion-toolbar {
  --background:#CA7529;
  --color: #fff !important;
  ion-title{
    font-family: "RedHatDisplay"!important;
    padding-left:2px;
    }
}

.margin-top-input{
    margin-top:-6px;
}

.margin-top-icon{
    margin-top:5px;
}