<app-header
  [title]="title"
  [longSearch]="longSearch"
  [showBackButton]="showBackButton"
  [isLoading]="loading"
  [showSearch]="showSearch"
>
</app-header>
<ion-content>
  <ion-grid class="zero">
    <ion-row class="zero">
      <ion-col size="3" class="zero">
        <ion-row class="leftSec zero">
          <ion-col
            size="12"
            class="zero catMenu"
            *ngFor="let topCat of topCategories"
            (click)="loadLevel1SubCats(topCat)"
          >
            <div
              [className]="topCat.name==isActive ? 'catMenuActive' : ''"
              class="zero"
            >
              {{topCat?.name | titlecase}}
            </div>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="9" class="zero">
        <ion-row class="rightSec zero">
          <ion-col size="12" class="zero">
            <ion-grid
              class="gridSubCat"
              *ngFor="let subCat of subCat1Category"
              class="zero"
            >
              <ion-row class="zero sub-categories-head">
                <ion-col size="9" class="note_title12White">
                  <ion-text >{{subCat?.name | uppercase}}</ion-text>
                </ion-col>
                <ion-col size="3" class="note_title12White">
                  <ion-text  (click)="viewSubCategory(subCat._id,subCat.name)">SEE ALL</ion-text>
                </ion-col>
              </ion-row>
              <ion-row class="card zero">
                <ion-col size="12">
                  <ion-list class="zero" lines="full">
                    <ion-item
                      *ngFor="let subsubCat of subCat.children"
                      (click)="getSubCat(subsubCat)"
                      class="note_title_bold10Black"
                      detail
                    >
                      <ion-label>{{subsubCat?.name | uppercase}}</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-col>
              </ion-row>

              <!-- <ion-row class="card zero">
                <ion-col size="4" *ngFor="let subsubCat of subCat.children" (click)="getSubCat(subsubCat)" class="gridProductItem">
                  <app-aspect-ratio [ratio]="{w:1, h:1}">
                    <app-image-shell animation="gradient" [src]="subsubCat.imgUrl?subsubCat.imgUrl: 'assets/imgs/logo-grey200.jpg' "
                      [alt]="'Category Image'" class="imgHolder">
                    </app-image-shell>
                  </app-aspect-ratio>
                  <app-text-shell animation="gradient" [data]="subsubCat?.name | titlecase" lines="2" class="note_title10Black"
                    [routerLink]="['/products']">
                  </app-text-shell>
                </ion-col>
              </ion-row> -->
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
