<!-- <app-header [title]="title" [longSearch]="longSearch" [showBackButton]="showBackButton" [isLoading]="loading"
  [showSearch]="showSearch">
</app-header> -->

<ion-content>
  <div class="topFadedLogo"> </div>
  <form [formGroup]="registerForm">
    <ion-grid style="padding-top:75px;">

      <ion-row>
        <ion-col size="12" text-center>
          <div class="ion-text-center header-title">Sign Up</div>
        </ion-col>
        <ion-col size="6" class="">
          <ion-label color="dark" position="floating">First Name</ion-label>
          <ion-input class="qouteForm" formControlName="fName" type="text" placeholder="First Name" clear-input="true">
          </ion-input>
          <div *ngIf="!registerForm.controls.fName.valid && registerForm.controls.fName.dirty">
            <p style="color:#330501!important;text-align:center;">Please enter a VALID First Name</p>
          </div>
        </ion-col>

        <ion-col size="6" class="">
          <ion-label color="dark" position="floating">Last Name</ion-label>
          <ion-input class="qouteForm" formControlName="sName" type="text" placeholder="Last Name" clear-input="true">
          </ion-input>
          <div *ngIf="!registerForm.controls.sName.valid && registerForm.controls.sName.dirty">
            <p style="color:#330501!important;text-align:center;">Please enter a VALID Last Name</p>
          </div>
        </ion-col>

      </ion-row>


      <ion-row>
        <ion-col size="12" class="">
          <ion-label color="dark" position="floating">Email Address</ion-label>
          <ion-input class="qouteForm" formControlName="email" type="email" placeholder="Email Address"
            clear-input="true">
          </ion-input>
        </ion-col>
        <div *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.dirty">
          <p style="color:#330501!important;text-align:center;">Please enter a VALID email Address</p>
        </div>
      </ion-row>
      <ion-row>
        <ion-col col-12 size="6">
          <!-- <ion-label color="dark" position="floating">Password</ion-label> -->
          <ion-item>
            <ion-input class="qouteForms" formControlName="password" [type]="showPassword? 'text':'password'"
              placeholder="Enter your Password" clear-input="true">
            </ion-input>
            <ion-icon [name]="passwordToggleIcon" color="primary" class="iconEyeSize" slot="end"
              (click)="togglePassword()"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col col-12 size="6">
          <!-- <ion-label color="dark" position="floating">Confirm Password</ion-label> -->
          <ion-item>
            <ion-input class="qouteForms" formControlName="confirmPassword" [type]="showPassword? 'text':'password'"
              placeholder="Enter your Password" clear-input="true">
            </ion-input>
            <ion-icon [name]="passwordToggleIcon" color="primary" class="iconEyeSize" slot="end"
              (click)="togglePassword()"></ion-icon>
          </ion-item>
        </ion-col>
        <div *ngIf="registerForm.get('confirmPassword').hasError('notSame')">
          <p style="color:#330501!important;text-align:center;"> Password did not match</p>
          {{ registerForm.controls.confirmPassword.errors.notSame }}
        </div>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="">
          <ion-label color="dark" position="floating">Country Operation</ion-label>
            <ion-select class="qouteForm" placeholder="Country Operation" (ionChange)="onCountryChange($event)">
              <ion-select-option value="Nigeria">Nigeria</ion-select-option>
              <ion-select-option value="Gnana">Ghana</ion-select-option>
            </ion-select>
        
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="">
          <ion-label color="dark" position="floating">Preffered Langauge </ion-label>
            <ion-select class="qouteForm" placeholder="Preffered Langauge" (ionChange)="changeMobileCountry($event)">
              <ion-select-option value="English">English</ion-select-option>
              <ion-select-option value="French">French</ion-select-option>
            </ion-select>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="">
          <ion-label color="dark" position="floating">Phone Number</ion-label>
          <ion-input class="qouteForm" formControlName="phone" type="text" clear-input="true"
            placeholder="Mobile phone number" maxlength="11"></ion-input>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="12" class="">
          <ion-label color="dark" position="floating">Affliate Bank </ion-label>
          <ion-input class="qouteForm" formControlName="affliateBank" type="text" clear-input="true"
            placeholder="Affliate Bank" maxlength="10"></ion-input>
        </ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="1" class="t_left">
          <ion-checkbox formControlName="isChecked"></ion-checkbox>
        </ion-col>
        <ion-col size="11" class="t_left label14">
          <div style="text-align: left!important; margin-top: 3px;">
            By Signing up you Accept Our <a class="legal-actions" (click)="showPrivacyModal()">
              <ion-text color="primary">Terms And Conditions</ion-text>
            </a>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="padding: 0px;">
          <div style="padding-top: 10px;">
            <ion-button expand="full" color="primary" (click)="signUp()">
              SIGN UP
            </ion-button>
            <br>
            <div class="t_center">
              <ion-text color="medium">OR</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="t_center">
        <ion-col size="12">
          <div class="note_title14Black">
            SIGN UP WITH<br>
            <a color="primary" (click)="faceBookSignIn()">
              <img src="../../assets/vectors/icons/facebook.svg" class="pre_social_icons">
            </a>
            <a color="primary" (click)="googleSignIn()">
              <img src="../../assets/vectors/icons/google.svg" class="pre_social_icons">
            </a>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="t_center">
        <ion-col size="12" style="padding: 0px;">
          <div class="legal-stuff note_title14Black" style="padding-top: 10px;">
            ALREADY HAVE AN <br> ACCOUNT?
            <a color="primary" [routerLink]="['/sign-in']" class="legal-action"> SIGN IN</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="isloadingSettings">
        <ion-note color="primary">{{loadingText}}</ion-note>
        <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>