ion-content {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    align-content: left;
    display: flex;
    flex-direction: column;
    --background: #FFF;
    text-align: left;
    padding: 0 5%;
     .topFadedLogo{
    position: absolute;
    top:0px!important;
    left:0px!important;
     
    background: url('../../assets/vectors/icons/topLeftLogo.svg')!important;
    height: 70px!important;
    width: 70px!important;
    }
}