// ion-content {
//     --padding-bottom: 10px;
//     --padding-end: 10px;
//     --padding-start: 10px;
//     --padding-top: 10px;
//     --background:#c8c6c6;
//   }

light {
  color: #343434 !important;
}

.progressbar{
  --buffer-background: #E5E5E5;
  border-radius: 10px;
}

// If you wish to style your alert using defined cssClass instead of the component ion-alert then add the following code to your variables.scss

.alertX {
  button.alertButton {
    color: #343434 !important;
  }
}
