<app-header [title]="title" [longSearch]="longSearch" [showBackButton]="showBackButton" [isLoading]="loading"
  [showSearch]="showSearch">
</app-header>
<ion-content>  
  <div class="topFadedLogo"> </div>
  <form [formGroup]="sendEmailVerificationCodeForm">
    <ion-grid  style="padding-top:75px;">
    
    <ion-row>
      <ion-col size="12">
          <ion-text class="">
            Please type in your email.<br>
            We will send you a link to change the password.
          </ion-text>
          <br><br>        
        <ion-item lines="none" >
          <ion-label color="dark" position="floating">E-Mail</ion-label>
          <ion-icon name="mail-outline" color="primary" slot="start"></ion-icon>
          <ion-input formControlName="email" type="email" clear-input="true" placeholder="E-Mail">
          </ion-input>
        </ion-item>
      </ion-col>
      <div *ngIf="!sendEmailVerificationCodeForm.controls.email.valid && sendEmailVerificationCodeForm.controls.email.dirty">
        <p style="color:#330501!important;text-align:center;">Please enter a VALID email Address</p>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="padding: 0px;">
        <div style="padding-top: 10px;">
          <ion-button expand="full" color="primary" (click)="sendResetLink()" [disabled]="!sendEmailVerificationCodeForm.valid || loading"> SUBMIT
          </ion-button>        
        </div>
      </ion-col>
    </ion-row>
    </ion-grid>
  </form> 
</ion-content>
