<ion-content>
  <ion-card class="messaging-card" (click)="viewChat()">
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <ion-icon src="/assets/vectors/icons/chatIcon.svg" style="width: 46px; height: 46px;"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-card-subtitle class="font-12">Jay Jay</ion-card-subtitle>
          <ion-card-subtitle class="font-12">My Dashboard not responding...</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="messaging-card">
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <ion-icon src="/assets/vectors/icons/chatIcon.svg" style="width: 46px; height: 46px;"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-card-subtitle class="font-12">Jay Jay</ion-card-subtitle>
          <ion-card-subtitle class="font-12">My Dashboard not responding...</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card class="messaging-card">
    <ion-card-content>
      <ion-row>
        <ion-col size="2">
          <ion-icon src="/assets/vectors/icons/chatIcon.svg" style="width: 46px; height: 46px;"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-card-subtitle class="font-12">Jay Jay</ion-card-subtitle>
          <ion-card-subtitle class="font-12">My Dashboard not responding...</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>