ion-card-content{
    padding-left: 4px !important;
    padding-right: 4px !important;
    p{
        font-size:12px !important;
        nargin-top:-10px !important;
        text-align:center  !important;

        span{
            font-family: 'RedHatDisplayBold'
        }
    }
}