<app-header [title]="title" [longSearch]="longSearch" [showBackButton]="showBackButton" [isLoading]="loading"
  [showSearch]="showSearch">
</app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle>Basic</ion-card-subtitle>
            <ion-card-subtitle>Free /Year</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="font-12">
            <p>Products per store: <span>4</span></p>
            <p>StoreType: <span>Ordinary</span></p>
            <p>Microsite: <span>false</span></p>
            <p>Exposure level: <span>Regional</span></p>
            <p>Free Leads (Monthly):<span> 0</span></p>
            <p>Lead Keywords: <span>5</span></p>
            <p>Adverts: <span>false</span></p>
          </ion-card-content>
          <ion-row >
            <ion-col size="12" class="no-padding">
              <ion-button expand="block" color="primary" class="capitilize font-14"> Apply </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card class="card">
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle color="medium">Silver</ion-card-subtitle>
            <ion-card-subtitle color="medium">$119 /Year</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="font-12">
            <p>Products per store: <span>8</span></p>
            <p>StoreType: <span>Premium</span></p>
            <p>Microsite: <span>true</span></p>
            <p>Exposure level: <span>Regional</span></p>
            <p>Free Leads (Monthly): <span>5</span></p>
            <p>Lead Keywords: <span>5</span></p>
            <p>Adverts: <span>false</span></p>
          </ion-card-content>
          <ion-row >
            <ion-col size="12" class="no-padding">
              <ion-button expand="block" color="primary" class="capitilize font-14"> Apply </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="card">
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle color="warning">Gold</ion-card-subtitle>
            <ion-card-subtitle color="warning">$199 /Year</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="font-12">
            <p>Products per store: <span>16</span></p>
            <p>StoreType: <span>Premium</span></p>
            <p>Microsite: <span>true</span></p>
            <p>Exposure level: <span>Continental</span></p>

            <p>Free Leads (Monthly): <span>10</span></p>
            <p>Lead Keywords: <span>10</span></p>
            <p>Adverts:  <span>true</span></p>
          </ion-card-content>
          <ion-row >
            <ion-col size="12" class="no-padding">
              <ion-button expand="block" color="primary" class="capitilize font-14"> Apply </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card class="card">
          <ion-card-header class="ion-text-center">
            <ion-card-subtitle>Platinum</ion-card-subtitle>
            <ion-card-subtitle>$399 /Year</ion-card-subtitle>
          </ion-card-header>

            <ion-card-content class="font-12">
            <p>Products per store: <span>32</span></p>
            <p>StoreType: <span>Premium</span></p>
            <p>Microsite: <span>true</span></p>
            <p>Exposure level: <span>Global</span></p>
            <p>Free Leads (Monthly): <span>20</span></p>
            <p>Lead Keywords: <span>15</span></p>
            <p>Adverts: <span>true</span></p>
          </ion-card-content>
          <ion-row >
            <ion-col size="12" class="no-padding">
              <ion-button expand="block" color="primary" class="capitilize font-14"> Apply </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
